.container {
  min-height: 100vh;
  background-color: #eee;
  margin: 0 auto;
  padding: 30px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px
}

.post {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 100ms ease-in-out;
}

.post:hover {
  transform: scale(1.05);
}

.post-card {
  padding: 30px;
}

img {
  max-width: 100%;
}

.formSearchPost {
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 350px;
  align-content: center;
}


.formSearchPost input {
  padding: 5px;
}